{% extends 'mainbase.html' %}
{% load static %} 
{% block title %} course {% endblock %}
{% block content %}
<!-- <style>
    body{
        background-image:url( "{% static 'image/clg1.JPEG' %}");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style> -->
    <h3 style="text-align:center "  >Gallery</h3><hr><br>
    
            <style>
                .column {
                    float: left;
                    width: 33.33%;
                    padding: 20px;
                }
                  
                
                .row::after {
                    content: "";
                    clear: both;
                    display: table;
                  }
                  
            </style>
        </head>
        <body  style="background-color:rgb(144, 166, 238);" >
            


              <div class="row">
                <div class="column">
                  <img src="{% static 'image/library.JPEG' %}" alt="Snow" style="width:100%">
                  <h4> library</h4>

                </div>
                <div class="column">
                  <img src="{% static 'image/food.JPEG' %}" alt="Forest" style="width:100%">
                  <h4>food court</h4>
                </div>
                <div class="column">
                  <img src="{% static 'image/elclab.JPEG' %}" alt="Mountains" style="width:100%">
                  <h4> electronic lab</h4>
                </div>
              </div>
              <div class="row">
                <div class="column">
                    
                  <img src="{% static 'image/lab.JPEG' %}" alt="Snow" style="width:100%">
                  <h4>Computer lab</h4>
                </div>
                <div class="column">
                    <h4></h4>
                  <img src="{% static 'image/food.JPEG' %}" alt="Forest" style="width:100%">
                </div>
                <div class="column">
                  <img src="{% static 'image/clsrm.JPEG' %}" alt="Mountains" style="width:100%">
                  <h4>classroom</h4>

                </div>
              </div>
                    <script src="" async defer></script>
        </body>
    </html>
    {% endblock %}
    