{% extends 'mainbase.html'%}
{% load static %}
{% block title %} mainhome {% endblock %}
{% block content %} 
<style>
    body{
        background-image:url( "{% static 'image/clg1.JPEG' %}");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div>
<u style="text-decoration:dotted">Introduction</u> 
<p class="text-color-white">

Government College Madappally is located in the state of Kerala. It has various streams, sub-streams and courses including Arts, Humanities and Social Sciences, Business Finance and Commerce, Computer Science and Science and Mathematics. Government College Madappally is situated in Kozhikode, Kerala. Government College Madappally is a Government accredited organization dedicated to higher education in India. More than 18 courses in various specialities are taught in this institution.

In Arts, Humanities and Social Sciences, there are a total of 8 courses. The Under Graduate category has 5 courses which are B.A. (Economics), B.A. (English Language and Literature), B.A. (History), B.A. (Political Science) and many more. In Post Graduate studies, 3 courses are taught which are M.A. (English Language and Literature), M.A. (History) and M.A. (Political Science).

In Business Finance and Commerce, there are a total of 2 courses. Under Graduate course is available for B.Com. as the only program. Post Graduate course is available for M.Com. as the only program.

In Science and Mathematics, there are a total of 8 courses. The Under Graduate category has 5 courses which are B.Sc. (Botany), B.Sc. (Chemistry), B.Sc. (Mathematics), B.Sc. (Physics) and many more. In Post Graduate studies, 3 courses are taught which are M.Sc. (Chemistry), M.Sc. (Physics) and M.Sc. (Zoology).

</p>
</div>
{% endblock %}